body{
  font-size: 1.5em;
}

h1 {

  color:darkgreen;
}

h1,h2 {
  font-family: Georgia, 'Georgia', Georgia, serif;
  text-align:center;
}

P {
  line-height: 25px;
  padding: 6px
}

a {
  text-decoration: none;
}

a:hover{
  text-decoration:underline;
}

img {
float: left;
padding:25px

}
.uppercase-text {
  text-transform:uppercase;
  
}